@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: 214.3 31.8% 91.4%;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  * {
    border-color: rgb(var(--border));
  }
  body {
    background: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: 214.3 31.8% 91.4%;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  * {
    border-color: rgb(var(--border));
  }
  body {
    background: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}
